<div class="row card-group">
  <div class="col-4 ">
    <div class="card-header" style="margin-bottom: 4px;">
      <div class="text-muted">YEAR 10 </div>
      <small class="text-muted">0 credits earned</small>
    </div>
    <div *ngFor="let presentation of presentations">
      <fieldset class="form-group">
        <label type="text" class="form-control" style="margin:0px; border: 2px dotted #000;">{{presentation}}</label>
      </fieldset>
    </div>
  </div>

  <div class="col-4 ">
    <div class="card-header" style="margin-bottom: 4px;">
      <div class="text-muted">YEAR 11 </div>
      <small class="text-muted">0 credits earned</small>
    </div>
    <div *ngFor="let presentation of presentations">
      <fieldset class="form-group">
        <label type="text" class="form-control" style="margin:0px; border: 2px dotted #000;">{{presentation}}</label>
      </fieldset>
    </div>
  </div>

  <div class="col-4 ">
    <div class="card-header" style="margin-bottom: 4px;">
      <div class="text-muted">YEAR 12 </div>
      <small class="text-muted">0 credits earned</small>
    </div>
    <div *ngFor="let presentation of presentations">
      <fieldset class="form-group">
        <label type="text" class="form-control" style="margin:0px; border: 2px dotted #000;">{{presentation}}</label>
      </fieldset>
    </div>
  </div>
</div>
