
<div class="card-group">
  <div class="card">

    <div class="card-header" style="margin-bottom: 4px;">
      <div class="text-muted">YEAR 9 (next year)</div>
      <small class="text-muted">1 credit planned</small>
    </div>

    <div *ngFor="let presentation of courses">
      <div class="input-group sidebar">
        <span class="input-group-addon" id="basic-addon1">+</span>
        <input type="text" class="form-control" placeholder="{{presentation.name}}" aria-describedby="basic-addon1"><br />
      </div>
    </div>

    <div *ngFor="let presentation of languages">
      <div class="input-group sidebar">
        <span class="input-group-addon" id="basic-addon1">+</span>
        <input type="text" class="form-control" placeholder="{{presentation.name}}" aria-describedby="basic-addon1" />
        <!--<small class="text-muted">{{presentation.credit}}</small>-->
      </div>
    </div>

    <div *ngFor="let presentation of availabeSlots">
      <div class="input-group sidebar">
        <input type="text" class="form-control" placeholder="{{presentation}}" aria-describedby="basic-addon1"><br />
      </div>
    </div>

    <div class="card-footer" style="margin-top: 4px; height: 70px">
      <div class="text-center"><button class="btn btn-primary btn-sx" type="button">Ready To Submit</button></div>
    </div>
  </div>
  
</div>
